# PyCharm specific files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Python specific files
__pycache__/
*.pyc
*.pyd
*.o
*.egg-info/
.Python
.venv/
venv/
env/
build/
dist/
*.egg

# Operating System specific files
.DS_Store
Thumbs.db